
      .errorMsg{
        color:#f83b3b;
      }
       
      .successMsg{
        color:#00ae23;
      }


        .contextMenuParent{
          border: 1px solid #cbd5e0;
          position: absolute;
          top: 50px;
          border-radius: 3px;
          background-color: #fff;
          left: 100px;
          display: none; 
        }

        .contextMenuParent .contextMenuUL{
          list-style: none;
          padding:0;
        }

        .contextMenuParent .contextMenuUL .contextMenuLI{
          cursor: pointer;
          height:32px;
          padding:0 32px;
        }

        .bs-form-left-field{
          margin-left: 12px;
          float: left;
        }

        .bs-form-right-field{
          margin-right: 12px;
          float: right!important;
        }

        .fields-icon{
          width: 25px;
          height: 25px;
        }

        .bs-form-field-icon{
         text-align: center;
         padding: 10px;
        }

        .bs-form-field-text{
          text-align: center;
          font-size: 12px;
        }

        
        canvas{
         /* border: 1px solid rgb(15, 92, 207);*/
          
        }
        
        /*
        .documentPageHolder{
          border: 1px solid #000;
          margin-bottom:4px;        }
        */
        /*
		.main-container{
          border: 1px solid red;
          width: auto;
          height: 647px;
          max-height: 647px;
          overflow: hidden;
          display: inline-flex;
        }*/

        .borderColor{
          border-color: #b1becb !important;   
        }
        
        .textColor{
          color: #222933;   
        }
        
		
        #fieldsContainer{
          width: 200px;
          float: left;
          height: 100vh;
          border-right: 1px solid #ddd;
          overflow: hidden;
        }
        
        #settingsContainer{
          width: 295px;
          border-left: 1px solid #ddd;
          float: left;
          padding: 10px;
        }
        
        #pdfContainer 
        {
          width: 74%;
          float: left;
          height: calc(100vh - 70px);
          overflow-x: hidden;
          overflow-y: auto;
          /* text-align: justify; */
          scroll-behavior: smooth;
          position: relative;
          padding-top: 10px;
          background: #f2f2f2;
      }

        .bs-form-field-container{
          display: inline-block;
        }

        .bs-form-field {
            width: 75px;
            height: 75px;
            border: 1px solid #cbd5e0;
            float: left;
            border-radius: 4px;
            cursor: -webkit-grab;
            cursor: grab;
        }

        .bs-form-field-row{
          float: left;
          width: 100%;
          padding: 10px 0px 10px 0px;
          border-bottom: 1px solid #cbd5e0;
        }

        .pdf-form-element-border{
          //border:1px dashed #b1becb;
		  border-width:2px !important;
		  border-left-width:4px !important;
		  border-style:dashed !important;
        }
        
        .pdf-form-element{
          position: absolute;
          cursor: move;
        }

        /*.sf-icon-NeedstoSign:before {
          content: "\e32f";
        }

        .sf-icon-Initial:before {
          content: "\e340";
        }*/

        /*
        #formElementsContainer{
          width: 893.5px;
          height: 2530.76px;
          border: 1px dashed red;
          position: relative;
          margin-top: -2536px;
          margin-left: 45px;
        }
        */

        #bs-thumbnail-prepare{
          /*display: none;*/
          height: calc(100vh - 80px);
          overflow-x: hidden;
          overflow-y: auto;
          /* text-align: justify; */
          scroll-behavior: smooth;
        }
        .thumbCanvasHolder{
          cursor:pointer;
        }

        .thumbnailText{
          text-align: center;
        }

        .activeThumb{
          border:1px solid #0d6efd !important;
         } 
        .bgClr{
          background-color: #cbd5e0; 
        }
        .thumbnailarea{
          border:1px solid #cbd5e0;
          border-radius:3px;
          min-height: 320px;
        }  
        .documentThumbnail .thumbnailmeta{
          padding: 6px !important;
          vertical-align: middle;
          text-align: center;
          font-size: 12px;
          display: block;
        }

        .documentThumbnail .thumbnailText span{
          float: left;
          width:100%;

        }

        .documentThumbnail{
          margin: 0 auto 10px;
        }

        .documentThumbnailCanvas
        {
          width: 200px;
        }

        #Advance-fields{
          float: left;
          width: 100%;
          height: 100%;
          background: #fff;
          padding: 16px 12px 0;
          overflow: auto;
          position: relative;
        }

        .textSettingsConatiner, .textSettingsConatiner .textSettingsHeader, .textSettingsConatiner .textSettingsBody{
          width: 100%;
          
        }

        .textSettingsBody{
          /*padding-left: 10px;*/
          
        }

        .textSettingsHeader{
            font-size: 15px;
            font-weight: 500;
            color: #222933;
            position: relative;
            overflow: hidden;
        }

        .reset-icon {
            cursor: pointer;
            color: #0565ff;
            font-size: 16px;
        }

        .reset-icon img{
          width: 18px;
          height: 18px;
        }

        .reset-icon:hover {
            color: #02327f;
        }

        .settingsClose{
            color: #718096;
            margin-top: -3px;
            cursor: pointer;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            border-radius: 50%;
        }

        /*input[type="text"].settingRowFields{
          width: 95%;
        }*/


		.select-user{
			display:none;
		}

        .settingRowFields{
          width: 100%;
          border-radius: 3px;
          padding: 4px;
		  border: 1px solid;
        }

        .settingRowFieldsLi{
          margin-bottom: 5px;
          float: left;
          width: 100%;
        }

        .settingRowLabel {
          width: 100%;
          font-size: 15px;
          margin-bottom: 1px;
        }

        .settingRow{
          margin-bottom: 5px;
          width: 100%;
        }

        #font-style{
          list-style: none;
          padding: 0;
		  border:none !important;
        }

        #font-weight, #font-size{
          margin-top: 10px;
        }

        #font-size{
          
        }

        .font-weight-button{
          padding: 6px;
          text-align: center;
          width: 33.33%;
          float: left;
        }

        .font-weight-button.bold{
            border-left: 1px solid;
            border-radius: 3px 0px 0px 3px;
            border-bottom: 1px solid;
            border-top: 1px solid;
            font-weight: 600;
            border-color: #b1becb;
        }

        .font-weight-button.italic{
            border-left: 1px solid;
            border-right: 1px solid;
            border-bottom: 1px solid;
            border-top: 1px solid;
            font-style: italic;
            border-color: #b1becb;
        }

        .font-weight-button.underline{
            border-right: 1px solid;
            border-radius: 0px 3px 3px 0px;
            border-bottom: 1px solid;
            border-top: 1px solid;
            text-decoration: underline;
            border-color: #b1becb;
        }

        .currentFontColor{
          border-right: 1px solid #000;
          width: 30px;
          height: 26px;
          float: left;
          text-align: center;
        }

        .currentFontColor span{
          height: 15px;
          width: 15px;
          display: inline-block;
          border: 1px solid #000;
          margin-top: 5px;
          background: #000;
          border-radius: 5px;
        }

        .selectFontColor{
          width: 30px;
          height: 25px;
          text-align: center;
          float: left;
        }

        .settingRowFontColorLabel{
          font-size: 12px;
          width: 100%;
        }
        
        .settingRowLineHeightLabel{
          font-size: 12px;
          float: left;
          width: 100%;
        }


		.userLI{
			list-style:none;
			padding: 4px;
			cursor:pointer;
		}	

		.currentUserNameSpan{
			float: left;
			width: 90%;
			padding: 4px;
		}

		.userColor{
			background-color: #007bff;
			height: 15px;
			width: 15px;
			border-radius: 5px;
      display: inline-block;
      position: relative;
      top: 1px;
      margin-right: 5px;
		}
		
		.currentUserNameSpan > span{
			margin-left: 10px;
		}
		
		.userLI > span{
			margin-left: 10px;
		}

        /*Resizeable*/

.pdf-form-element .resizer-right {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.pdf-form-element .resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.pdf-form-element .resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

/*NOSELECT*/

.pdf-form-element * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/*--upload form ---*/

.fa-file-word:before {
    content: "\f1c2";
}

.fa-file-excel:before {
    content: "\f1c3";
}

.fa-file-powerpoint:before {
    content: "\f1c4";
}

.fa-file-pdf:before {
    content: "\f1c1";
}

.fa-file-archive:before {
    content: "\f1c6";
}

.fa-file-code:before {
    content: "\f1c9";
}

.fa-file-alt:before {
    content: "\f15c";
}

.fa-file-video:before {
    content: "\f1c8";
}

.fa-file-audio:before {
    content: "\f1c7";
}

.fa-file-image:before {
    content: "\f1c5";
}

.main-pdf-body
{
  position: fixed;
  width: 100%;
}
.formElementsContainer
{
  left: 0;
  right: 0;
  margin: 0 auto !important;
}
.formElementsContainer_SVG
{
  margin: 0 auto;
}
.documentPageHolder
{
  margin: 0 auto 4px;
}
.top-menu
{
  top: 0;
  width: 100%;
  position: fixed;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}
.top-menu div,
.top-menu figure
{
  padding: 22px 15px !important;
}
.top-menu div,
.top-menu figure,
.top-menu ul
{
  flex:0 0 auto;
  margin: 0;
  padding: 16px 15px;
}
.top-menu div
{
  width: 73%;
}
.top-menu figure
{
  border-right: 1px solid #ddd;
  width:200px;
  padding: 0px 15px 0 !important;
}
.top-menu figure img {
  width: 165px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.top-menu ul
{
  width: 295px;
}
.top-menu div
{
  overflow: hidden;
  text-align: center;
}
.top-menu div .conf-fields
{
  float: left;
}
.top-menu ul
{
  border-left: 1px solid #ddd;
}
.top-menu ul li
{
  display: inline-block;
}

.top-menu ul li .btn-cross
{
    color: #999;
    display: block;
    padding: 0 10px;
    border-left: 1px solid #ddd;
    text-decoration: none;
    margin-left: 10px;
}
.top-menu .btn
{
  padding: 5px 30px !important;
}
#bs-thumbnail-prepare h3
{
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.thumbnailText span1
{
  display: block;
  background: #f7f7f7;
  padding: 5px;
}
.top-menu div span
{
  font-weight: bold;
  font-size: 18px;
}

.left-panel-title
{
  font-size: 24px;
  padding: 15px 0px 5px;
  margin: 0 12px;
  position: relative;
}
.left-panel-title:after
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 50%;
  background: #007bff;
}

/*signature pad*/
/* 
.e-dlg-container{
  height:100%;
  width:100%;
  left:0;
  top:0;
}

.e-dlg-center-center{
  -webkit-align-items:center;
  align-items: center;
  -webkit-justify-content:center;
  justify-content: center;
}


.bs-signature.e-dialog.e-popup-open{
  max-height:100%!important;
}

.e-popup.e-popup-open.e-dialog{
  display:inline-flex;
}

.e-dialog{
  background-color: #fff;
  box-shadow: 0 6px 14px 3px rgb(0 0 0 / 10%);
  max-width: 1010%;
  min-width: 240px;
  border:none;
  border-radius:4px;
  flex-direction:column;
}

.e-dlg-overlay{
  background-color: rgba(45,55,72,.4);
  opacity: 1;
  height:100%;
  left:0;
  top:0;
  transition: opacity .15s linear;
  width:100%;
}

.bs-signature.e-dialog .e-dlg-header-content {
  padding:;17px 19px 15px 32px;
  border-bottom: none;
  height:;50px;
  background-color: transparent;
}
.e-dialog .e-dlg-header-content {
  border-bottom:1px solid #e8eaed;
  background-color: #f9fafa;
}
.e-dialog .e-dlg-header-content {
  border-bottom:1px solid #e6e6e6;
  padding:12px;
  background-color: #f9f9f9;
}
.e-dialog .e-dlg-header-content {
  border-radius: 6px 6px 0 0;
  line-height: 1.25;
}
.e-dialog .e-dlg-header-content {
  border-bottom:1px solid #e8eaed;
  background-color: #f9fafa;
}
.e-dlg-content, .e-dlg-header-content {
  background-color: #fff;
}

.bs-signature.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
	left: -16px;
	top: -7px;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
	bottom: 10px;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
	bottom: 7px;
	height: 25px;
	left: 0;
	width: 40px;
	margin:6px 0 0;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
	background-color: transparent;
	border-color: transparent;
	border-radius: 50%;
	bottom: 7px;
	float: right;
	height: 20px;
	left: 5px;
	position: relative;
	width: 20px;
} */

.sign-modal .modal-dialog
{
  max-width: 650px;
}
/* .sign-modal
{
    opacity: 1 !important;
    display: block !important;
} */
.sign-tabs 
{
  border:1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}
.sign-tabs li
{
  flex: 0 0 auto;
  width: 33.33%;
}
.sign-tabs li:first-child .active
{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sign-tabs li:nth-child(2) .active
{
  border-radius: 0;
}
.sign-tabs li:last-child .active
{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-tabs li button
{
  padding: 10px 0px !important;
  color: #000;
  display: block;
  width: 100%;
}
.name-input
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.name-input label
{
  flex: 0 0 auto;
  width: 116px;
}

.name-input .form-control
{
  flex: 0 0 auto;
  width: 81%;
}

.pre-signwrap
{   cursor:pointer; 
    border-radius: 4px;
    padding: 0px;
    margin-bottom: 30px;
    position: relative;
    height: 100px;
    background-repeat: no-repeat;
    background-position: 0 0px;
    border: 1px dashed transparent;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQ1IiBoZWlnaHQ9IjgyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNEMkQ3REUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTI0NSA3MnYxMGgtMVY3MnoiLz48cGF0aCBkPSJNMjMxIDgxaDE0djFoLTE0ek0wIDBoMTR2MUgweiIvPjxwYXRoIGQ9Ik0xIDB2MTBIMFYwek0yNDUgMGgtMTR2MWgxNHoiLz48cGF0aCBkPSJNMjQ0IDB2MTBoMVYwek0xIDcydjEwSDBWNzJ6Ii8+PHBhdGggZD0iTTAgODFoMTR2MUgweiIvPjwvZz48L3N2Zz4=);
}
.pre-signwrap:hover
{
    background-image: none;
    border: 1px dashed #b3bbc5;
    border-radius: 4px;
    border-image-slice: 1;
    border-image-source: repeating-linear-gradient(-45deg,transparent,transparent 4px,#b3bbc5 0,#b3bbc5 8px);
}
.pre-signwrap .check-mark
{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  border: 1.2px solid #d2d7de;
  border-radius: 100%;
}

/*
.pre-signwrap span 
{
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: normal;
  font-stretch: normal;
}
*/

.pre-signwrap span {
  text-align: center;
  margin: 0 auto;
  /* position: absolute; */
  display: block;
  /* width: 100%; */
  right: 0;
  /* top: 60%; */
  /* transform: translateY(-50%); */
  white-space: nowrap;
  font-size: normal;
  font-stretch: normal;

  font-size: 4rem;
  padding-top: 0.07rem;
}

.pre-signwrap .check-mark.la-check
{
  font-size: 10px;
  text-align: center;
  line-height: 16px;
  background: #4fd478;
  color: #fff;
  border-color:#4fd478;
}
/*
.color-listing
{
    left: 30px;
    top: 10px;
    padding: 0;
    position: absolute;
    margin: 0;
}
*/
.color-listing {
  /* left: 30px; */
  /* top: 10px; */
  padding: 0;
  /* position: absolute; */
  margin: 0;
  display: inline-block;
  /* border: 1px solid; */
  width: auto;
}

.color-listing .btn
{
  background-color: #000;
  color: #fff;
  margin: 8px 10px 10px 10px;
  padding: 0 !important;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: none !important;
}
/*
.color-listing ul 
{
  position: absolute;
  top: -145px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 10px 25px -5px rgba(0,0,0,0.2);
}
*/
.color-listing ul {
  position: absolute;
  top: -83px;
  left: 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 10px 25px -5px rgba(0,0,0,0.2);
}

.color-listing ul li
{
  display: block;
  padding: 5px;
}
/*
.color-listing ul li a
{
  display: block;
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  border-radius: 100%;
  margin: 15px 10px;
}
*/
.color-listing ul li a {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  border-radius: 100%;
  /* margin: 15px 10px; */
}
.color-listing ul li a.circle-blue
{
  background: #0057e3;
  border: 1px solid #0057e3;
}
.color-listing ul li a.circle-red
{
  background: #f83b3b;
  border: 1px solid #f83b3b;
}
.color-listing ul li a.circle-green
{
  background: #00ae23;
  border: 1px solid #00ae23;
}
.color-listing ul li a.circle-black
{
  background: #000;
  border: 1px solid #000;
}

/*.color-listing:after
{
  content: '';
  position: absolute;
  width: 1px;
  height: 50px;
  right: -5px;
  background: rgb(204,204,204);
  background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(204,204,204,0) 100%);
}*/

.color-listing:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 48px;
  left: 57px;
  background: rgb(204,204,204);
  background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(204,204,204,0) 100%);
}

.font-1
{
  font-family: 'Great-Vibes';
  font-size: 4rem;
}

.font-2
{
  font-family: 'Dancing-Script';
  font-size: 4rem;
}

.font-3
{
  font-family: 'Allura';
  font-size: 4rem;
}

.font-4
{
  font-family: 'Sacramento';
  font-size: 4rem;
}

.signBlue{
  color: #0057e3; 
}

.signRed{
  color: #f83b3b; 
}

.signGreen{
  color: #00ae23; 
}

.signBlack{
  color: #000;
}
.activePenColor{

}

.pencolor:hover{
  text-decoration: none;
  color: #fff;
}
.pencolor {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 3px !important;
  font-size: 22px;
}

.pre-signwrap.activesign{
  border: 1px solid #0d6efd !important;
}
.custom-sign-wrap
{
  width: 100%;
  /*height: 283px;*/
  height: 278px;
  position: relative;
  background: #f7f7f7;
}
.custom-sign-wrap canvas
{
  /*width: 100%;
  height: 180px;*/
}
.custom-sign-wrap:before
{
  content: '';
  position: absolute;
  width: 25px;
  top: 0;
  left: 0;
  height: 25px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.custom-sign-wrap:after
{
  content: '';
  position: absolute;
  width: 25px;
  top: 0;
  right: 0;
  height: 25px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.custom-sign-wrap span
{
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.custom-sign-wrap span:before
{
    content: '';
    position: absolute;
    width: 25px;
    bottom: 0;
    left: 0;
    height: 25px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.custom-sign-wrap span:after
{
    content: '';
    position: absolute;
    width: 25px;
    bottom: 0;
    right: 0;
    height: 25px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.btn-clear-wrap
{
  /*text-align: right;*/
}
.btn-clear-wrap .clear-signature, .btn-clear-wrap .remove-signature
{
  border: none;
  color: #0057e3;
  background: none;
  margin: 0 0 15px 0;
  padding: 0;
  float: right;
}
.sign-disclaimer
{
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#signatureCanvas{
  touch-action: none;
  /*border: 1px solid red;*/
  /*height: 100%;
  width: 100%;*/
}

.modal-footer{
  border-top:none;
}

.sign-disclaimer-box{
  border-bottom:1px solid #dee2e6;
  padding:5px 0;
}

.signImgContainer{
  height: 180px !important;
}
.upload-sign-wrap
{
  width: 100%;
  /*height: 180px;*/
  height: 322px;
  position: relative;
  background: #f7f7f7;
}

.upload-sign-wrap .uploadContentBox span {
  display: block;
  /* height: 100%; */
  width: 100%;
  text-align: center;
  padding: 16px;
  position: relative;
}

.upload-sign-wrap:before
{
  content: '';
  position: absolute;
  width: 25px;
  top: 0;
  left: 0;
  height: 25px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.upload-sign-wrap:after
{
  content: '';
  position: absolute;
  width: 25px;
  top: 0;
  right: 0;
  height: 25px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
 
.upload-sign-wrap .afterBeforeCorners:before
{
    content: '';
    position: absolute;
    width: 25px;
    bottom: 0;
    left: 0;
    height: 25px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.upload-sign-wrap .afterBeforeCorners:after
{
    content: '';
    position: absolute;
    width: 25px;
    bottom: 0;
    right: 0;
    height: 25px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/*
.upload-sign-wrap span:before
{
    content: '';
    position: absolute;
    width: 25px;
    bottom: 0;
    left: 0;
    height: 25px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.upload-sign-wrap span:after
{
    content: '';
    position: absolute;
    width: 25px;
    bottom: 0;
    right: 0;
    height: 25px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}*/
.zoomControls{
  height: 100px;
}

.uploadDragDropBorder{border: 2px dashed #0d6efd;}

#signImgContainer{display:none;}

.signImgContainer .signImg{
  max-width: 100%;
  width: 100%;
  height:100%;
}
.btn-zoom 
{
  border: 1px solid #ddd; //#0d6efd;
  padding: 3px 5px !important;
  background: none;
  font-size: 24PX;
  margin: 0;
  line-height: 0;
  border-radius: 4px;
}
.btn-rotate
{
  border: 1px solid #ddd;
  padding: 3px 5px !important;
  background: none;
  font-size: 24PX;
  margin: 0;
  line-height: 0;
  border-radius: 4px;
}

.btn-crop {
  border: 1px solid #ddd;
  padding: 3px 5px !important;
  background: none;
  font-size: 24PX;
  box-shadow: 1px 4px 10px 3px #ddd;
  margin: 0;
  line-height: 0;
  border-radius: 4px;
}


.activeCropControll{
  border: 1px solid #0d6efd;
  box-shadow: 1px 4px 10px 3px #ddd;
}

.img-action-label
{
  position: relative;
  top: -2px;
  left: 3px;
}
#zoomslider,
#rotateslider
{
  height: 1px;
}
#zoomslider .ui-slider-handle,
#rotateslider .ui-slider-handle
{
  border-radius: 100%;
  border: none;
  top: -10px;
  background: #0057e3;
}
.btn-clear-wrap
{
  margin-bottom: 5px;
  display: flow-root;
}
.zoomControls
{
  margin-top: 5px;
}

.rangeSlider{
  display: none;
}

/*
.btn-clear-wrap .remove-signature{
  display:none;
}

#crop-signature{
  display:none;
}
*/
/*crop-signature*/

.cropControls{
  display:none;
}

#main-page-footer{position: relative;}

.upload-docs-fullbody
{
  background: #f7f7f7;
  padding: 3rem 0;
}
.box
{
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 2rem 3rem;
}
.file-upload-wrap
{
  border: 1px dashed #ddd;
  padding: 1.5rem 0;
  border-radius: 5px;
  text-align: center;
}
.file-upload-wrap p
{
  margin: 0;
}
.file-upload-wrap button,
.choose-temp-wrap button
{
  margin: 20px 0;
  padding: 10px 40px;
  font-weight: 500;
}
.file-upload-wrap p
{
  color: #999;
}
.cloud-icons-wrap,
.choose-temp-wrap
{
  text-align: center;
  margin-top: 35px;
  position: relative;
}
.cloud-icons-wrap:before
{
    content: '';
    position: absolute;
    width: 1px;
    height: 150px;
    top: -18px;
    left: 10px;
    border: 1px solid #ddd;
}
.cloud-icons-wrap:after
{
  content: 'OR';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  padding: 10px 0;
}
.choose-temp-wrap:before
{
  content: '';
  position: absolute;
  width: 1px;
  height: 150px;
  top: -18px;
  left: 10px;
  border: 1px solid #ddd;
}
.choose-temp-wrap:after
{
  content: 'OR';
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  padding: 10px 0;
}
.file-list-table td
{
  vertical-align: middle;
}
.add-recipient-table td
{
    vertical-align: middle;
    border: none !important;
}
.cloud-icons-wrap p
{
  color: #999;
  margin-bottom: 20px;
}
.cloud-icons-wrap div a
{
  display: inline-block;
  padding: 0 15px;
}
.choose-temp-wrap p
{
  color: #999;
}
.choose-temp-wrap button
{
  margin: 0;
}
.add-recipient-table td button
{
  width: 100%;
  text-align: left;
  color: #666;
  border: 1px solid #ddd;
  box-shadow: none !important;
}

.add-recipient-table td button:hover,
.add-recipient-table td button:focus
{
  background: none !important;
  color: #666 !important;
}
.add-recipient-table td button:after
{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.add-recipient-table .la-trash-alt
{
  font-size: 28px;
  color: #000;
}
.add-recipient-table-2 td
{
    border: none;
}
.add-recipient-table-2 .la-ellipsis-v
{
  font-size: 40px;
  color: #000;
}

.file-upload-text b{font-weight: 500;}

.file-preview-a,.file-remove-a{
  text-decoration: none;
  font-weight: 500;
}

.file-remove-a .la.la-trash-alt{
  font-size: 17px;
}

.browseBttn{
  margin: 20px;
  width: 100px;
}

.browseBttn.btn-outline-primary:hover{
  color: #0d6efd;
  background-color: #e5efff;
  border-color: #0d6efd;
}

.add-recipient-bttn:hover{
  color: #0d6efd;
  background-color: #e5efff;
  border-color: #0d6efd;
}

.file-preview-a:hover, .file-remove-a:hover {
  color: #0d6efd;
}

.uploadFileMsg {
  text-align: right;
  color: #00ae23;
  font-weight: 500;
}

.fileActionBox{
  text-align:right;
}
.pri-msg
{
  resize: none;
}
.input-number-wrap .input-group-text
{
  display: block;
  padding: 0;
  background: none;
}
.input-number-wrap .input-group-text a
{
  display: block;
  color: #666 !important;
  line-height: 0;
  padding: 2px 12px;
}
.custom-checkbox input[type="checkbox"]
{
    transform: scale(1.4);
    position: relative;
    margin-right: 10px;
}
.site-nav
{
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.other-page-top-btns 
{
  text-align: right;
  border: none !important;
}
.textSettingsHeader ul
{
  margin: 0;
  float: right;
}
.textSettingsHeader ul li
{
  display: inline-block;
  margin-left: 10px;
}
.assigned-to-dropdown .dropdown-toggle
{
    box-shadow: none !important;
    width: 100%;
    text-align: left;
    border-color: #ddd !important;
    margin-bottom: 10px;
    position: relative;
}
.assigned-to-dropdown .dropdown-toggle:after
{
  position: absolute;
  top: 18px;
  right: 15px;
}
.assigned-to-dropdown .dropdown-toggle:hover,
.assigned-to-dropdown .dropdown-toggle:focus
{
  background: #f7f7f7;
  color: #000 !important;
}
.readonlyRequiredUl
{
    margin-bottom: 0;
}
.readonlyRequiredUl li
{
  margin-top: 10px;
}
.textSettingsBody .settingRow
{
  margin-top: 1rem;
}
#color-picker
{
  position: relative;
  top: -5px;
}
#color-picker .sp-replacer
{
  width: 100%;
  height: 38px;
}
#color-picker .sp-dd
{
  line-height: 38px;
}
#font-weight li:first-child a,
#font-weight li:nth-child(2) a
{
  text-decoration: none;
}

.hideElement{
  display:none;
}

.recipientSettingBttn{
  text-decoration: none;
  font-weight: 500;
}

.recipientSettingBttn:hover {
  color: #0d6efd;
}

/*toggle button*/
.toggle-btn {
  width: 80px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==")
    no-repeat 50px center #e74c3c;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
  &.active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC")
      no-repeat 10px center #2ecc71;
    .round-btn {
      left: 45px;
    }
  }
  .round-btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .cb-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

/*toggle button*/

.toastMessage{
	display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*width: 500px;*/
}

.recipient-srno{
  border-radius: 50%;
  padding: 0px 0px 0px 0px;
  height: 24px;
  width: 24px;
  text-align: center;
  display: inline-block;
}

.authenticateOptions{
  display:none;
  width: 275px;
  padding: 0px 0px 15px 15px;
  border-radius: 4px;
}

.authHead{
  font-size: 16px;
}

.authHead b{
  font-weight: 500;
}

.cb-value{
  margin-left:15px;
}

.accesscodeProperties{
  display: none;
}

.errorBorder{
  border-color:#f83b3b !important;
}

.solidBorder{
  border:1px solid #f83b3b;;
}

.signInUpFormContainer{
  width: 450px;
}

.inputPlaceholderPosition{
  position: absolute;
}

.inputPlaceholderAnimateTop{
  margin-top: -48px;
  margin-left: 13px;
  font-size: 13px;
  background-color: #fff;
  color:#0D6EFD;
}

.inputPlaceholderAnimateCenter{
  margin-top: -31px;
  margin-left: 13px;
  font-size: 16px;
  color:#919191;
}

.form-control:focus {
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.tab-login{
  border: 1px solid #0d6efd !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.tab-register{
  border: 1px solid #0d6efd !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.pills-login .form-outline .btn, .pills-register .form-outline .btn{
  width: 100%;
}

.previewBox .documentPageHolder{
  border-bottom: 1px solid;
}

.file-preview-a .animate-bg, .file-remove-a .animate-bg{clear:none; float:left; margin-left: 10px; width:40%;}

.no-padding{padding:0px !important;}

@keyframes placeHolderShimmer {
  0% {
      background-position: -400px 0
  }

  100% {
      background-position: 400px 0
  }
}
.animate-bg {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  min-height: 10px;
  display: block;
  clear: both;
}

.font-weight .selected{
  border-color:#0565ff;
  color: #0565ff;
  background-color: #e5efff;
}

.access-code-form{
  width: 680px;
  margin: auto;
  padding: 20px 40px 20px 40px;
  margin-top: 200px;
  box-shadow: 0px 6px 14px 3px rgb(0 0 0 /10%);
}

.access-code-form .img-box{
  float: left;
  margin-right: 16px;
  margin-top: 6px;
}

.access-code-form .content-box{
  padding: 0px 0px 16px;
  height: 100%;
  width: 100%;
}

.access-code-form .authenticationDialog-header{
  padding-bottom: 12px;
  font-size: 22px;
  font-weight: 400;
}

.access-code-form .authenticationDialog-sub-header{
  font-size: 18px;
}

.access-code-form .bs-note-style {
  height: auto;
  background-color: #ffffeb;
  padding: 8px;
  font-size: 12px!important;
  border-left: 2px solid #ffd438;
  display: inline-block;
}

.access-code-form .access-code-footer-note {
  float: left;
  height: 100%;
  width: 100%;
  padding: 6px 8px 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .3px;
}

.access-code-form .form-control{
  height:45px;
}

.access-code-form .btn{
  height:45px;
}

.access-code-form .bs-link-add-info-container{
  float: left;
  padding-top: 12px;
}

.access-code-form .bs-link-add-info {
  display: inline-block;
  text-align: center;
  min-height: 25px;
  line-height: 25px;
}
  
.access-code-form .bs-hyperlink-style {
  color: #0565ff;
  text-decoration: underline;
  cursor: pointer;
}

.bs-invalid-accesscode-text {
  font-size: 11px;
  color: #ff3b30;
  margin-left: 5px;
  margin-top: 1px;
  letter-spacing: .24px;
  display: none;
  float: right;
}

.bs-remainingAuth-text {
  font-size: 11px;
  color: #666e80;
  margin-left: 5px;
  margin-top: 1px;
  letter-spacing: .24px;
  display: none;
  float: right;
}

.access-code-row, .access-code-button-row{
  height:80px;
}

.text-center{
  text-align: center;
}

.otp-expires-in{
  float: left;
  font-weight: 700;
}

.resendButton{
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.resendButton .spinner-border {
  color: #0d6efd !important;
  font-size: 10px;
  height: 20px;
  width: 20px;
}

.sign-page-footer{
  border: 1px solid #0000005e;
  background-color: #0000005e;
  height: 73px;
  margin:auto;
}

.terms-modal .modal-dialog{
  background: #fff;
  border-radius: 10px;
  display: flex;
  bottom: 20px;
  position: absolute;
  left: calc(50% - 488px);
}

.terms-modal .modal-dialog .modal-content{
  border-radius: 10px;
}

.terms-modal .modal-dialog .modal-body .terms-box{
  float: left;
  letter-spacing: 1px;
  display: flex;
}

.terms-modal .modal-dialog .modal-body .action-box{
  float: left;
  text-align: right;
  padding: 7px;
}

.terms-modal .modal-dialog .modal-body .terms-tick-box-span{
  padding-top: 16px;
}

.terms-modal .modal-dialog .modal-body span{
  padding:10px;
}

.terms-modal .modal-dialog .modal-body .terms-tick-box{
  height:20px;
  width:20px;
  cursor: pointer;
}

.continueBttn{
  width: 150px;
}

.button-disabled{
  pointer-events: none;
  background-color: #f7fafc;
  border-color:#cbd5e0;
  color:#a0aec0;
}

.bs-form-element-type {
    background-color: #ffcc01!important;
    border-color: #ffc820!important;
    border-radius: 4px 0 0 4px!important;
    color: #333!important;
    font-family: Heebo,open sans,"sans-serif",-apple-system,BlinkMacSystemFont;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .18px;
    font-weight: 500;
    position: relative;
    border-radius: 10px;
  }
  
  .bs-form-element-type:before {
    content: "";
    position: absolute;
    right: -12px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 12px solid #ffcc01!important;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
  
  #bsCustomButton .e-tooltip {
    margin-top: 4px;
  }
  
  .bs-custom-button {
    cursor: pointer;
  }

  .bsCustomButton{
    display: none;
    text-align: center;
    position: absolute;
    width: auto;
    transition: top 1s ease 0s;
    top: 112px;
    left: 10.5px;
  }

  .textSettingsFooter{
    text-align:right;
  }

.prepare-success-modal .templateHeader {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .32px;
  color: #333;
  white-space: normal!important;
  display: flex;
  padding: 25px 40px 25px 40px;
}

.templateHeader .text-content {
  width: calc(100% - 64px);
  margin: auto;
  font-size: 16px;
  font-weight: 500;
}

.prepare-success-modal .modal-footer{
  text-align: center;
  border-top: 1px solid #dee2e6;
  display: flow-root;
}

.prepare-success-modal .modal-dialog{margin-top: 370px;}


.prepare-success-modal .btn-outline-primary:hover{
  color: #0d6efd;
  border-color: #0d6efd;
}

.prepare-success-modal .btn-primary:hover{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.main-dashboard-body{
  display: flex;
  padding-top: 10px
}

.dashboard-vertical-nav-bar{
  height:850px;
  border: 1px solid;
  width: 210px;
  padding-top: 20px;
  border:none;
  border-right: 1px solid #ddd;
}

.dashboard-content{
  margin-left: 58px;
  padding-top: 20px;
}

.nav-link{
  color:#000;
}

.active{
  color:#0d6efd;
}

.finishBttn .spinner-border{
  width: 20px;
  height: 20px;
  font-size: 13px;
  margin-left: 11px;
  margin-right: 11px;
  padding: unset !important;
}

.sign-success-modal{top: 200px;}